:root {
    --body_gradient_left: #7200D0;
    --body_gradient_right: #C800C1;
    --form_bg: #ffffff;
    --input_bg: #E5E5E5;
    --input_hover: #eaeaea;
    --submit_bg: #1FCC44;
    --submit_hover: #40e263;
    --icon_color: #6b6b6b;
}



body {
    
   
    
    font-family: 'Roboto',
        sans-serif;
   
    background-image: linear-gradient(to right, var(--body_gradient_left), var(--body_gradient_right));
    
}
.titulo{
    text-align: center;
}
.formulario{
    text-align: center;
    margin-left: 500px;
    
}
.btncrear{
    margin-left: 635px;
}
.tabla{
    margin-left: 200px;

}

